#reloj{
    font-family: sans-serif;
    font-size: 40px;
    text-shadow:0px 0px 1px #333;
     color: #e56903;

}

.reloj-contenedor{
    padding: 25px;
    max-width: 300px;
    text-align: center;

    margin: 0 auto;

}
#fecha{
    letter-spacing:10px;
    font-size: 20px;
}


